#title {
    text-align: center;
}

.jumbotron {
    background-color: #203333;
    color: #fff;
    border-radius: 0px;
    margin-bottom: 0;
}

#sidebar {
    height: 100vh;
    background-color: #d8e6ea;
    padding: 2rem 1rem;
}

.container {
    margin-left: 0;
    margin-right: 0;
    max-width: 99vw;
}

.bg-secondary {
padding: 6px .8rem;
}

.bg-green {
    padding: 6px .8rem;
    background-color: rgb(138, 207, 70);
    }

.bg-yellow {
    padding: 6px .8rem;
    background-color: rgb(217, 248, 42);
    }

.bg-orange {
    padding: 6px .8rem;
    background-color: rgb(248, 183, 42);
    }

.bg-red {
    padding: 6px .8rem;
    background-color: rgb(238, 50, 50);
    }

.historyList {
    list-style: none;
    cursor: pointer;
}

.historyList:hover {
    background: grey;
}

.card-body {
    padding: .7rem;
}

ul {
    padding-left: 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

@media (min-width: 576px) {
.jumbotron {
    padding: 2rem 2rem;
}
}